.paginated {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.buttonsRow {
  display: flex;
  height: 25px;
  gap: 20px;
  justify-content: center;
  margin: 40px auto;
}

.buttonsPaginationRow {
  display: flex;
  height: 25px;
  gap: 10px;
}

.activeButton {
  width: 25px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #ffcd06;
  font-family: "Trap-Medium";
  font-weight: 700;
  text-align: center;
}

.paginationButton {
  width: 25px;
  text-align: center;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Trap-Medium";
  font-weight: 700;
}

@media only screen and (max-width: 955px) {
  .paginated {
    justify-content: center;
    gap: 2px;
  }
}
