.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalImage {
  height: 50vh;
  width: 60vw;
  max-width: 1200px;
  max-height: 800px;
}
