.header {
  display: flex;
  max-width: 1440px;
  height: 50px;
  margin: 0 auto;
  padding: 0 50px;
  font-family: "Trap-Medium";
  justify-content: space-between;
  align-items: center;
  background-color: #ffcd06;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  text-align: left;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.titleColored {
  color: #fff;
}

.search {
  display: flex;
  position: relative;
  height: 30px;
  max-width: 700px;
  min-width: 400px;
}

.searchField {
  font-family: inherit;
  border-radius: 15px;
  padding: 0 15px;
  width: 100%;
  border: 2px solid white;
}

.searchButton {
  position: absolute;
  height: 30px;
  width: 100px;
  right: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  border: "none";
  border-radius: 15px;
  background-color: #ffcd06;
  border: 2px solid white;
}

.searchButton:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 760px) {
  .header {
    padding: 0 15px;
  }
  .search {
    max-width: 200px;
    min-width: 0;
  }
  .searchButton {
    font-size: 12px;
    width: 60px;
  }
  .title {
    font-size: 20px;
  }
  .titleColored {
    font-size: 25px;
  }
  .searchField {
    min-width: 150px;
    font-size: 8px;
  }
}

@media only screen and (max-width: 380px) {
  .searchField {
    min-width: 120px;
    font-size: 8px;
  }
  .searchButton {
    width: 40px;
    font-size: 8px;
  }
  .title {
    font-size: 14px;
  }
  .titleColored {
    font-size: 12px;
  }
}
