.limitButton {
  width: 60px;
  line-height: 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffcd06;
  font-family: "Trap-Medium";
  font-weight: 700;
  text-align: center;
}
.limitButton:hover {
  transform: scale(1.1);
}

.button {
  width: 40px;
  line-height: 15px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  background-color: #ffcd06;
  border: none;
  cursor: pointer;
  text-align: center;
}
