.photoCard {
  padding: 10px 10px 25px 10px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 260px;
  height: 260px;
  position: relative;
  opacity: 0.6;
  transform: perspective(800px) rotateY(25deg);

  transform-origin: center;
  transition: 0.5s;
  filter: blur(0.2px);
}

.photoCard:hover {
  opacity: 1;
  transform: perspective(800px) rotateY(0deg);
  filter: blur(0px);
}

.cardImage {
  width: 250px;
  height: 200px;
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
}

.cardImage:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.photoTitle {
  display: block;
  display: -webkit-box;
  height: 20px;
  padding: 10px;
  font-size: 10px;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.photoThumbNail {
  display: block;
  padding: 0 10px;
  cursor: pointer;
  font-size: 8px;
  text-align: left;
  font-style: italic;
  color: #0074d9;
}

@media only screen and (max-width: 955px) {
  .photoCard {
    height: 260px;
    margin-bottom: 20px;
    transform: none;
    opacity: 1;
    filter: blur(0px);
  }
}

@media only screen and (max-width: 610px) {
  .photoCard {
    height: 210px;
    width: 220px;
  }
  .cardImage {
    height: 160px;
    width: 220px;
  }
}
