.App {
  height: 100%;
  text-align: center;
  padding: 0px 20px;
  overflow: hidden;
}

.notFound {
  margin-top: 20px;
}

.notFoundText {
  font-family: "Trap-Medium";
  font-weight: 700;
}

.notFoundImage {
  margin: 20px auto;
}
