@font-face {
  font-family: "Trap-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/Trap-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Trap-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/Trap-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Trap-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Trap-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Trap-Bold", "Trap-Medium", "Trap-Regular" "" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
